CONFIG VCCAUX = "3.3";

NET "clkin100" LOC = "P94" | IOSTANDARD = "LVCMOS33" | TNM_NET = "clkin100";
NET "clkin100_en" LOC = "P92" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
TIMESPEC TS_Clkin100 = PERIOD "clkin100" 10 ns HIGH 50%;

NET "led<0>" LOC = "P105" | IOSTANDARD = "LVCMOS33" | DRIVE = "6";
NET "led<1>" LOC = "P104" | IOSTANDARD = "LVCMOS33" | DRIVE = "6";
NET "led<2>" LOC = "P102" | IOSTANDARD = "LVCMOS33" | DRIVE = "6";
NET "led<3>" LOC = "P100" | IOSTANDARD = "LVCMOS33" | DRIVE = "6";
NET "led<4>" LOC = "P85" | IOSTANDARD = "LVCMOS33" | DRIVE = "6";
NET "led<5>" LOC = "P82" | IOSTANDARD = "LVCMOS33" | DRIVE = "6";
NET "led<6>" LOC = "P78" | IOSTANDARD = "LVCMOS33" | DRIVE = "6";
NET "led<7>" LOC = "P74" | IOSTANDARD = "LVCMOS33" | DRIVE = "6";

NET "hdmi_Rp" LOC = "P134" | IOSTANDARD = "TMDS_33";
NET "hdmi_Rn" LOC = "P133" | IOSTANDARD = "TMDS_33";
NET "hdmi_Gp" LOC = "P132" | IOSTANDARD = "TMDS_33";
NET "hdmi_Gn" LOC = "P131" | IOSTANDARD = "TMDS_33";
NET "hdmi_Bp" LOC = "P127" | IOSTANDARD = "TMDS_33";
NET "hdmi_Bn" LOC = "P126" | IOSTANDARD = "TMDS_33";
NET "hdmi_Cp" LOC = "P124" | IOSTANDARD = "TMDS_33";
NET "hdmi_Cn" LOC = "P123" | IOSTANDARD = "TMDS_33";

# Lcd red is vd7..0, green is 15..8, blue is 23..16
NET "lcd_R<0>" LOC = "P9"  | IOSTANDARD = "LVCMOS33";
NET "lcd_R<1>" LOC = "P8"  | IOSTANDARD = "LVCMOS33";
NET "lcd_R<2>" LOC = "P7"  | IOSTANDARD = "LVCMOS33";
NET "lcd_R<3>" LOC = "P11" | IOSTANDARD = "LVCMOS33";
NET "lcd_R<4>" LOC = "P140" | IOSTANDARD = "LVCMOS33";
NET "lcd_R<5>" LOC = "P141" | IOSTANDARD = "LVCMOS33";
NET "lcd_R<6>" LOC = "P1" | IOSTANDARD = "LVCMOS33";
NET "lcd_R<7>" LOC = "P44" | IOSTANDARD = "LVCMOS33";

NET "lcd_G<0>" LOC = "P22" | IOSTANDARD = "LVCMOS33";
NET "lcd_G<1>" LOC = "P2" | IOSTANDARD = "LVCMOS33";
NET "lcd_G<2>" LOC = "P143" | IOSTANDARD = "LVCMOS33";
NET "lcd_G<3>" LOC = "P142" | IOSTANDARD = "LVCMOS33";
NET "lcd_G<4>" LOC = "P29" | IOSTANDARD = "LVCMOS33";
NET "lcd_G<5>" LOC = "P45" | IOSTANDARD = "LVCMOS33";
NET "lcd_G<6>" LOC = "P30" | IOSTANDARD = "LVCMOS33";
NET "lcd_G<7>" LOC = "P27" | IOSTANDARD = "LVCMOS33";

NET "lcd_B<0>" LOC = "P23" | IOSTANDARD = "LVCMOS33";
NET "lcd_B<1>" LOC = "P34" | IOSTANDARD = "LVCMOS33";
NET "lcd_B<2>" LOC = "P43" | IOSTANDARD = "LVCMOS33";

NET "lcd_B<3>" LOC = "P17" | IOSTANDARD = "LVCMOS33";
NET "lcd_B<4>" LOC = "P33" | IOSTANDARD = "LVCMOS33";
NET "lcd_B<5>" LOC = "P32" | IOSTANDARD = "LVCMOS33";
NET "lcd_B<6>" LOC = "P35" | IOSTANDARD = "LVCMOS33";
NET "lcd_B<7>" LOC = "P41" | IOSTANDARD = "LVCMOS33";

NET "lcd_LE" LOC = "P40" | IOSTANDARD = "LVCMOS33";
NET "lcd_CLK" LOC = "P14" | IOSTANDARD = "LVCMOS33";
NET "lcd_VSYNC" LOC = "P5" | IOSTANDARD = "LVCMOS33";
NET "lcd_HSYNC" LOC = "P16" | IOSTANDARD = "LVCMOS33";
NET "lcd_LE" LOC = "P40" | IOSTANDARD = "LVCMOS33";
NET "lcd_DE" LOC = "P6" | IOSTANDARD = "LVCMOS33";

NET "flash_SI" LOC = "P64" | IOSTANDARD = "LVCMOS33";
NET "flash_SO" LOC = "P65" | IOSTANDARD = "LVCMOS33";
NET "flash_SCLK" LOC = "P70" | IOSTANDARD = "LVCMOS33";
NET "flash_CS_INV" LOC = "P38" | IOSTANDARD = "LVCMOS33";

NET "ssp1_ssel" LOC = "P26" | IOSTANDARD = "LVCMOS33";
NET "ssp1_sck"  LOC = "P24" | IOSTANDARD = "LVCMOS33";
NET "ssp1_mosi" LOC = "P21" | IOSTANDARD = "LVCMOS33";
NET "ssp1_miso" LOC = "P15" | IOSTANDARD = "LVCMOS33";
